.card {
  background-color: #ffffff;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto ;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 2px rgb(111, 90, 233);
}

.cardButton {
    margin-top: 1rem;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: .5rem 1.5rem;
  background-color: rgb(66, 28, 170);
  border: none;
}
